<p>task-add works!</p>
<form [formGroup]="form" (ngSubmit)="sendTask()">
    <fieldset>
        <legend>Ingrese una tarea</legend>
        <label for="task-id">Ingrese el id</label>
        <input type="text" name="task-id" formControlName="id">
        @if (form.controls['id'].getError('required')&&form.controls['id'].touched) {
        <div class="error">Campo requerido</div>
        }
        <label for="task-name">Ingrese el nombre de la tarea</label>
        <input type="text" name="task-name" formControlName="name">
        @if (form.controls['name'].getError('required')&&form.controls['name'].touched) {
        <div class="error">Campo requerido</div>
        }
        @if (form.controls['name'].getError('minlength')&&form.controls['name'].touched) {
        <div class="error">Tiene que tener un minimo de 3 caracteres</div>
        }
        <label for="task-description">Ingrese la descripcion de la tarea</label>
        <input type="text" name="task-description" formControlName="description">
        <button>Agregar</button>
    </fieldset>
</form>